Repository vihuvac/expressure: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,js,mjs}": "eslint --cache --fix",
  "*.{ts,js,mjs,css,md}": "prettier --write"
}

chore: move contribution guide to its own document
  CONTRIBUTING.md
  README.md
Due: prettier --write

chore: update github workflow, project version and changelog
  .github/workflows/test.yml
  CHANGELOG.md
  package.json
Due: prettier --write

chore: add a step to install `pnpm` to match the version used in the project.
  .github/workflows/test.yml
  CHANGELOG.md
Due: prettier --write

FT - Update contribution guide (#1)
  .github/workflows/test.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write

chore: improve test workflow
  .github/workflows/test.yml
  CHANGELOG.md
  package.json
Due: prettier --write

chore: fix name section for the new release
  CHANGELOG.md
Due: prettier --write

FT - Improve test workflow (#2)
  .github/workflows/test.yml
  CHANGELOG.md
  package.json
Due: prettier --write

chore: upgrade npm dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: update contact reference in the openapi.yml file
  src/app/specs/openapi.yaml
Due: none

chore: add type definitions for packages that do not provide them
  @types/swagger-client/index.d.ts
  @types/swagger-model-validator/index.d.ts
Due: eslint --cache --fix, prettier --write

chore: updated the changelog for the initial updates
  CHANGELOG.md
Due: prettier --write

feat: add a code of conduct document
  CHANGELOG.md
  CODE_OF_CONDUCT.md
Due: prettier --write

feat: add a security policy document
  CHANGELOG.md
  SECURITY.md
Due: prettier --write

feat: add issue templates to report bugs and security vulnerabilities
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/security-vulnerability.yml
  CHANGELOG.md
Due: prettier --write

chore: updated the README.md file to enhance the references to resources
  CHANGELOG.md
  README.md
Due: prettier --write

FT - Setup custom types and community files (#3)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/security-vulnerability.yml
  @types/swagger-client/index.d.ts
  @types/swagger-model-validator/index.d.ts
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  package.json
  pnpm-lock.yaml
  src/app/specs/openapi.yaml
Due: eslint --cache --fix, prettier --write

fix: templates to report issues
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/security-vulnerability.yml
  CHANGELOG.md
  package.json
Due: prettier --write

chore: add a brief reference/description in the changelog for potential tickets/pull requests (PRs) linked to each release
  CHANGELOG.md
Due: prettier --write

Fix - Github templates to report issues (#4)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/security-vulnerability.yml
  CHANGELOG.md
  package.json
Due: prettier --write

FT - Migrate app imports to @/* and extract pure helpers
  src/app.ts
  src/app/constants/index.ts
  src/app/constants/miscs.constant.ts
  src/app/controllers/healthChecks.controller.ts
  src/app/helpers/errors.helper.ts
  src/app/helpers/index.ts
  src/app/libs/index.ts
  src/app/libs/logger.lib.ts
  src/app/middlewares/cors.middleware.ts
  src/app/middlewares/errors.middleware.ts
  src/app/middlewares/expressLogger.middleware.ts
  src/app/middlewares/index.ts
  src/app/specs/openapi.yaml
Due: eslint --cache --fix, prettier --write

FT - Update Docker toolchain for Node 24 and pnpm 11
  .dockerignore
  .env.template
  Dockerfile
  Dockerfile.dev
Due: none

FT - Modernize TypeScript and Jest configuration
  eslint.config.mjs
  jest.config.ts
  jest.setup.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

docs - Record 1.1.0 dependency and toolchain upgrades in CHANGELOG
  CHANGELOG.md
Due: prettier --write

FT - Align tests with @/* aliases and raise coverage to 100%
  src/tests/controllers/healthChecks.controller.test.ts
  src/tests/helpers/errors.helper.test.ts
  src/tests/libs/logger.lib.test.ts
  src/tests/middlewares/cors.middleware.test.ts
  src/tests/middlewares/errors.middleware.test.ts
  src/tests/middlewares/expressLogger.middleware.test.ts
  src/tests/middlewares/sanitizeBody.middleware.test.ts
  src/tests/mocks/cors.mock.ts
  src/tests/mocks/logger.mock.ts
  src/tests/mocks/pino.mock.ts
Due: eslint --cache --fix, prettier --write

FT - Bump dependencies and adopt pnpm 11 workspace
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: docker configs for the production build
  Dockerfile
  tsconfig.json
Due: none

fix - Point ESLint at lint-only tsconfig including tests
  eslint.config.mjs
  tsconfig.eslint.json
Due: eslint --cache --fix, prettier --write

FT - Align CI with Node 24 and packageManager pnpm
  .github/workflows/test.yml
Due: none

docs - Record CI and ESLint lint-project updates in CHANGELOG
  CHANGELOG.md
Due: prettier --write

FT - Improve project and update its dependencies (#5)
  .dockerignore
  .env.template
  .github/workflows/test.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile.dev
  eslint.config.mjs
  jest.config.ts
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app.ts
  src/app/constants/index.ts
  src/app/constants/miscs.constant.ts
  src/app/controllers/healthChecks.controller.ts
  src/app/helpers/errors.helper.ts
  src/app/helpers/index.ts
  src/app/libs/index.ts
  src/app/libs/logger.lib.ts
  src/app/middlewares/cors.middleware.ts
  src/app/middlewares/errors.middleware.ts
  src/app/middlewares/expressLogger.middleware.ts
  src/app/middlewares/index.ts
  src/app/specs/openapi.yaml
  src/tests/controllers/healthChecks.controller.test.ts
  src/tests/helpers/errors.helper.test.ts
  src/tests/libs/logger.lib.test.ts
  src/tests/middlewares/cors.middleware.test.ts
  src/tests/middlewares/errors.middleware.test.ts
  src/tests/middlewares/expressLogger.middleware.test.ts
  src/tests/middlewares/sanitizeBody.middleware.test.ts
  src/tests/mocks/cors.mock.ts
  src/tests/mocks/logger.mock.ts
  src/tests/mocks/pino.mock.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write
